
<div class="small-container">

  <div class="image-container">
    <img src="{{task.image}}"  alt="card" class="card-image">
  </div>

  <div class="task-info">
    <div><a [routerLink]="['/tasks', task._id]" class="task-title"> {{ task.title }} </a></div>
      {{ task.image }}
    <div class="task-owner-spacing">
      <a [routerLink]="['/user', task.owner._id]" class="task-owner">Posted by: {{ task.owner.username }} </a>
    </div>

    <div *ngFor='let bid of task.bids; index as i'>
      <p *ngIf="task.owner._id === user._id || bid.bidder._id === user._id"> 
        Bids:
        {{ task.bids[i].bidder.username }}
        {{ task.bids[i].price }} €
    </div>
  </div>
</div>
