<header id="site-header">
  <div class="container">

    <div class="logo"><a href="/"> ILLDOIT4U</a></div>
    
    <div [ngClass]="{'is-user': user, 'is-anon': anon}" id="header-options">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/user', user._id]">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>

  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    ©ILLDOIT4U 1/18 BEST COHORT EVAAAAA!!! 
  </div>
</footer>