<div class="wrap-container">


  <div class="container-esq">
      <a href="/tasks-list">
    <img src="/../assets/student.jpeg" alt="student" class="hp-image">

    <h2 class="center">I need Money! Show me some TASKS!</h2>
  </a>
  </div>

  <div class="container-dir">
      <a href="/new-task">
    <img src="/../assets/business.jpg" alt="business" class="hp-image">
    
    <h2 class="center">I need Help! I want to Post a TASK!</h2>
  </a>
  </div>
  
</div>

<!-- <div *ngIf="user">
  <a [routerLink]="['/user', user._id]"> My Profile </a>
</div> -->

