.wrap-container {
    display: flex;
    margin: auto;

}

.container-esq {
    flex: 1 0 45%;
    /* margin: auto; */

}

.container-dir {
    flex: 1 0 45%;
    /* margin: auto; */
}

.hp-image {
    width: 70%;
    height: 80%;
    margin: auto;
    display: block;
    border-radius: 15px;
    border: 1px solid black;

}

.center {
    text-align: center;
}